body {
    margin: 0;
    text-align: center;

}

.container {
    display: flex;
    justify-content: space-around;
    color: blue;
    background-color: #1B244A;
    padding: 10px 20px;
    
}

h3 {
   font-family: 'Verdana';
   font-style: normal;
   font-weight: 500;
   font-size: 40px;
   text-align: center;
   color: #EEEEEE;
}

h2 {
    border-radius: 5px;
    background: black;
    margin: 20px 40px;
    padding: 30px 85px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    color: #F94F6D;
}

.btn {
    padding: 8px 11px;
    margin-left: 11px;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    -webkit-text-fill-color: #9AABD8;
     background: none;
}

#reset-btn {
    padding: 20px;
    padding-bottom: 35px;
    border: 2px solid #9AABD8;
    border-radius: 45px;
    background-color: #266;
    
    height: 16px;
    width: 200px;
    margin: 20px;
    transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#reset-btn:hover {
    transition: 0.1s;
}